.logo{
	width: 150px;
}
.logo{
	display: inline-block;
}

.navigation-li{
	color: blue
}
.red{
	color: red
}
li{
	display: inline-block;
	margin-left: 70px;
}
body{
	background: black
}
.font{
	font-family: "Arial GEO Bold", sans-serif;
}
h1{
	font-size: 30px;
	margin-top:70px;
	color: white;
}
h2{
	color: blue;
}
nav{
	display: inline-block;

}
p{
	display: inline-block;
}
.navigation-li{
	padding color: blue
}
nav{
	font-size: 20px
}
p{
	margin-left: 500px
}
h1{
	margin-top: 150px
}
